<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="useActualParamName" value="true" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="autoMappingBehavior" value="FULL" />
        <!--<setting name="defaultEnumTypeHandler" value="infrastructure.typehandler.ValuedEnumTypeHandler" />-->
    </settings>
    
     <typeAliases>
        <package name="domain.module.workorder.model"/>
        <package name="domain.module.combolocation.model"/>
        <package name="domain.module.comborecord.model"/>
    </typeAliases>
</configuration>
